
@{
    ViewData["Title"] = "AllUsers";
    Layout = "~/Views/Admin/AdminLayout.cshtml";
}

<div class="header">
    <h4>Регистрирани потребители</h4>
</div>
<section class="users">
    <table>
        <thead>
            <tr>
                <th>ИД</th>
                <th>Име</th>
                <th>Роля</th>
                <th>Име и Фамилия</th>
                <th>Имейл</th>
                <th>Дата на регистация</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>krisi</td>
                <td>admin</td>
                <td>KK</td>
                <td>krisi@k</td>
                <td>16.10.2019</td>
            </tr>

            <tr>
                <td>1</td>
                <td>krisi</td>
                <td>admin</td>
                <td>KK</td>
                <td>krisi@k</td>
                <td>16.10.2019</td>
            </tr>
        </tbody>
    </table>
</section>
